Repository xudongcc/nestjs-deepl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --strict

fix: update
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: fix release
  .github/workflows/release.yml
Due: prettier --write

ci: fix missing packageManager field
  package.json
Due: prettier --write

chore: update node.js version to 20 and adjust related configurations
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: update the project's GitHub related links to xudongcc
  README.md
  package.json
Due: prettier --write

ci: add necessary permission configurations to the release workflow
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  2d387fd460d893ae2b1935a257cd0f5fab194e5d
Due: none

fix: make authKey optional and improve error handling in DeepLClientProvider
  src/deepl-client.provider.ts
  src/deepl-module-options.interface.ts
Due: eslint --fix, prettier --write, tsc --noEmit --strict

Notes added by 'git notes add'
  e554daf111214714b21f8c9097d602d7b9bcf111
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: (((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  tsc --noEmit --strict: any of: *.{ts,tsx}
